[Desktop Entry]
# This is the spec version, *not* the application version
Version=1.1
Type=Application
Name=Psi
GenericName=XMPP Client
Comment=Communicate over the XMPP network
Icon=psi
Exec=psi %U
MimeType=x-scheme-handler/xmpp;
Terminal=false
X-KDE-StartupNotify=true
StartupWMClass=Psi
Categories=Network;InstantMessaging;Qt;
Keywords=XMPP;Jabber;Chat;InstantMessaging;
Actions=SelectProfile;

# Translations


# Translations
Comment[be]=Размаўляйце ў сетцы XMPP
GenericName[be]=Кліент XMPP
Name[be]=Psi
Icon[be]=psi
Comment[bg]=Общувайте през мрежата на XMPP
GenericName[bg]=Клиент за XMPP
Name[bg]=Psi
Icon[bg]=psi
Comment[ca]=Comuniqui's a través de la xarxa XMPP
GenericName[ca]=Client XMPP
Name[ca]=Psi
Icon[ca]=psi
Comment[cs]=Komunikujte přes XMPP po síti
GenericName[cs]=XMPP Klient
Name[cs]=Psi
Icon[cs]=psi
Comment[de]=Im XMPP-Netzwerk kommunizieren
GenericName[de]=XMPP-Programm
Name[de]=Psi
Icon[de]=psi
Comment[el]=Επικοινωνήστε μέσω του δικτύου XMPP
GenericName[el]=XMPP Client
Name[el]=Psi
Icon[el]=psi
Comment[es]=Comunícate a través de la red XMPP
GenericName[es]=Cliente XMPP
Name[es]=Psi
Icon[es]=psi
Name[et]=Psi
Icon[et]=psi
Name[fa]=+Psi
Icon[fa]=psi
Name[fi]=Psi
Icon[fi]=psi
Comment[fr]=Communiquez via le réseau XMPP
GenericName[fr]=Client XMPP
Name[fr]=Psi
Icon[fr]=psi
Comment[he]=תקשר על פני רשת XMPP
GenericName[he]=לקוח XMPP
Name[he]=+Psi
Icon[he]=psi
Name[hu]=Psi
Icon[hu]=psi
Comment[it]=Comunica sulla rete XMPP
GenericName[it]=Client XMPP
Name[it]=Psi
Icon[it]=psi
Comment[ja]=XMPPネットーワーク通信
GenericName[ja]=XMPPクライアント
Name[ja]=Psi
Icon[ja]=psi
Comment[mk]=Комуницирајте преку XMPP мрежата
GenericName[mk]=Клиент за XMPP
Name[mk]=Psi
Icon[mk]=psi
Comment[nl]=Communiceer over het XMPP netwerk
GenericName[nl]=XMPP Client
Name[nl]=Psi
Icon[nl]=psi
Comment[pl]=Komunikacja poprzez sieć XMPP
GenericName[pl]=Klient XMPP
Name[pl]=Psi
Icon[pl]=psi
Name[pt]=Psi
Icon[pt]=psi
Comment[pt_BR]=Comunique-se através da rede XMPP
GenericName[pt_BR]=Cliente XMPP
Name[pt_BR]=Psi
Icon[pt_BR]=psi
Comment[ru]=Общение в сети XMPP
GenericName[ru]=XMPP-клиент
Name[ru]=Psi
Icon[ru]=psi
Name[sk]=Psi
Icon[sk]=psi
Comment[sl]=Takojšnje sporočanje prek omrežij XMPP
GenericName[sl]=Odjemalec za XMPP
Name[sl]=Psi
Icon[sl]=psi
Comment[sq]=Komunikoni përmes rrjetit XMPP
GenericName[sq]=Klient XMPP
Name[sq]=Psi
Icon[sq]=psi
Name[sr@latin]=Psi
Icon[sr@latin]=psi
Comment[sv]=Kommunicera över XMPPnätverket
GenericName[sv]=XMPPklient
Name[sv]=Psi
Icon[sv]=psi
Comment[uk]=Програма для спілкування в мережі XMPP
GenericName[uk]=XMPP клієнт
Name[uk]=Psi
Icon[uk]=psi
Comment[vi]=Liên lạc qua mạng XMPP nhé
GenericName[vi]=Ứng dụng khách XMPP
Name[vi]=Psi
Icon[vi]=psi
Comment[zh_CN]=通过XMPP网络进行通信
GenericName[zh_CN]=XMPP 客户端
Name[zh_CN]=Psi
Icon[zh_CN]=psi
Comment[zh_TW]=通過XMPP網絡進行通信
GenericName[zh_TW]=XMPP 客戶端
Name[zh_TW]=Psi
Icon[zh_TW]=psi
Comment[eo]=Komunikiĝu per la ĵabbera reto
GenericName[eo]=XMPP Klientilo
Name[eo]=Psi
Icon[eo]=psi
Comment[kk]=XMPP желісі арқылы хабарласу
GenericName[kk]=XMPP клиенті
Name[kk]=Psi
Icon[kk]=psi
Name[sw]=Psi
Icon[sw]=psi
Comment[ur_PK]=جیبر نیٹ ورک پر مواصلت کریں
GenericName[ur_PK]=جیبر وصول کار
Name[ur_PK]=+Psi
Icon[ur_PK]=psi
